<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Quản lý đơn</title>
  <link rel="stylesheet" href="/public/css/admin.css">
</head>
<body>

<h2>Danh sách đơn nạp</h2>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Nhà mạng</th>
      <th>Mệnh giá</th>
      <th>Serial</th>
      <th>Mã thẻ</th>
      <th>NCC</th>
      <th>Trạng thái</th>
      <th>Thời gian</th>
    </tr>
  </thead>
  <tbody id="orderList"></tbody>
</table>

<script src="/public/js/admin.js"></script>
</body>
</html>
